@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
$nav:Monda;
$white:#ecf0f1;
$black:#34495e;
$purple:#9b59b6;

body{
	margin: 0;
	padding: 0;
	background-color:white;
}
.container{
	width: 100%;
	margin-left:0;
	margin-right:0;
	max-width:100%;
}
.button{
	background-color:$purple;
	color:$white;
	border:none;
}
// nav
nav{
	height: 10vh;
	// padding:1rem;
	display:grid;
	align-items:center;
	background-color: $white;
	.icon{
		margin-left:0;
		position: absolute;
		list-style:none;
		font-size: 3em;
		font-family: $nav;
		font-weight: lighter;
	}
	ul{
		list-style:none;
		margin-bottom:0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
	li{
		margin-bottom:0;
		margin-left: 2rem;
	}
	a{
		color:black;
		font-family: $nav;
		font-size: 1.3rem;
	}
}
// Hero
.hero{
	// height:90vh;
	height:auto;
	color:white; 
	// BG
	background:url('../img/bg.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	// align
	// display:flex;
	// flex-direction: column;
	// justify-content:center;
	// align-items: center;
	padding:17rem;
	text-align: center;
	h1{
		font-weight: lighter;
	}
	.button{
		border-radius: 0;
		margin:1rem;
	}
}
// Sec 1
.sec1{
	display:flex;
	align-items:center;
	// justify-content:center;
	// .six-columns.sec1-img
	img{

	}
	// .six.columns.sec1-con
	p{
		padding-right: 1rem;
	}
}
// paralallax
.sec2{
	height:auto;
	background:url('../img/water.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	// background-color: transparentize(white, 20%);

	text-align:center;
	padding:2rem;
	color:$white;
	h1{
		margin-top: 1rem;
	}
	h6{
		// text-align:center;
		// width: 50%;
		// margin :0 auto;
	}
	.button{
		margin-top: 1rem;
	color:$white;
	// padding:1rem;
	margin:10px 20px 10px 20px;
	border-radius:0;

	}
}
footer{
	// height:30vh;
	background-color:$black;
	padding:5em 2rem;
	// display:flex;
	// align-items:center;
	p{
		float:left;
		margin-bottom: 0;
		color:$white;
	}
	.footer_icons{
		float:right;	
		a{
			width: auto;
			height:auto;
			margin-left:1rem;
			.iconify{
				width: 2.2rem;
				height:2.2rem;
				color:$white;
			}
		}
	}
}