footer.row
	p Theme by Colorlib Powered by WordPress
	.footer_icons
		a
			<span class="iconify" data-icon="bx:bxl-facebook" data-inline="false"></span>
		a
			<span class="iconify" data-icon="akar-icons:twitter-fill" data-inline="false"></span>
		a
			<span class="iconify" data-icon="ant-design:github-outlined" data-inline="false"></span>
		a
			<span class="iconify" data-icon="akar-icons:instagram-fill" data-inline="false"></span>