doctype html
html
	head
		title HOME
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
		link(rel="stylesheet" href="css/style.css")
	body
		.container
			//- header
			include header
			//- hero
			.row.hero
				h1 We Change Everything <br> WordPress
				h6 This is the only WordPress theme you will ever want to use. 
				.row
					.button.button-primary READ MORE
					.button download now
			//- sec 1
			.row.sec1
				.seven.columns.sec1-img
					img(src="img/mail.png" width="100%")
				.five.columns
					.sec1-con
						h1 SEO Friendly
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.
						.button read more
			//- sec 2 paralallax
			.row.sec2
				h1 Small Parallax Section
				h6.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet rhoncus porta. Ut quis sem quis purus lobortis dictum. Aliquam nec dignissim nisl. Vivamus cursus feugiat sapien, eget tincidunt leo ornare quis.
				.button more info
			//- footer
			include footer



				
